* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-weight: 500;
}
li {
  list-style: none;
}

a {
  color: gray;
  text-decoration: none;
  white-space: nowrap;
}

#nav {
  background-color: #007bff;
}
.nav__inner {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  position: relative;
  max-width: 1200px;
}

.menu {
  display: flex;
  gap: 2rem;
}
/* main menu style */
.menu__item {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s;
  cursor: pointer;
}
.menu__item > a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
}
.menu__item .svg {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
}

.menu__item:not(.megamenu) {
  position: relative;
}
.menu__item:hover > a {
  color: white;
}
.menu__item:hover .svg {
  color: white;
  transform: rotate(-180deg);
}

.menu__item:hover:not(.menu__submenu .menu__item) {
  box-shadow: 0px -3px white inset;
}

/* submenu styling */

.menu__submenu .menu__item {
  padding: 0.4rem 2rem;
  display: flex;
  gap: 4rem;
}

.menu__submenu a {
  color: gray;
}
.menu__submenu .menu__item .svg {
  color: gray;
}
.menu__submenu .menu__item:hover .svg {
  color: #007bff;
}
.menu__submenu .menu__item:hover > a {
  /* border-bottom: 2px solid #007bff; */
  color: #007bff;
  text-decoration: underline;
}
.menu__item:hover > .menu__submenu {
  display: block;
}

.menu__submenu {
  background-color: white;
  color: black;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  border-bottom: 3px solid #007bff;
  padding: 1rem 0;
  box-shadow: 1px 1px 20px rgb(139, 136, 136);
  border-radius: 3px;
  animation: getDown 0.3s ease;
  transform-origin: top center;
}

.menu__submenu:not(.first__sub) {
  top: 0;
  left: 100%;
}

/* mega menu styling */

.megamenu__content {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 20px rgb(139, 136, 136);
  border-bottom: 3px solid #007bff;
  padding: 2rem;
  display: none;
  justify-content: space-between;
  animation: getDown 0.3s ease;
  transform-origin: top center;
}

.megamenu:hover .megamenu__content {
  display: flex;
}

.megamenu__content a:hover {
  color: #007bff;
  text-decoration: underline;
}

.megamenu__single {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.megamenu__single h4 {
  text-transform: uppercase;
  cursor: auto;
}

.megamenu__single__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* search box */

.search {
  display: flex;
  align-items: center;
  background-color: #4689d7;
  padding: 1rem;
}

.search__input {
  outline: none;
  background-color: transparent;
  border: none;
}

.search__icon {
  cursor: pointer;
  color: white;
}
/* animation */
@keyframes getDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
